
/******************
TRANSFORM:ROTATION
*******************/
img{
    transition: transform .5s cubic-bezier(.7, -0.39, .32, 1.38);
}
img:hover{
    transform: rotate(-5deg) scale(1.1) translateY(-20px);
}
/***********
LOGO---
************/
.logo:hover {
     transform: rotate(-45deg);
}