@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
*{
    font-family: 'Oswald', sans-serif;
}
h1{
    font-weight: 700 !important;
    letter-spacing: 2px;
}
label{
    font-size: 2.245em;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 0px 40px;
}
.btn{
    font-size: 20px !important;
    padding: 10px 15px !important;
}
.form-control{
    width: 100% !important;
    margin: 0 auto;
}