html, 
body {
    height: 100%;
}

div {
    max-width: 440px;
    position: absolute;
    right: 20px;
}

/********BLEND MODES*******/
body {
    font-size: 1em;
    font-family: 'Times New Roman', Times, serif;
    color: #eee;
    background: url(cascade.jpg) no-repeat, linear-gradient(#6de590, #e67478);
    background-blend-mode: multiply;
    background-size: cover;
}
h1 {
    font-size: 12em;
    margin: 0;
    line-height: 1;
    letter-spacing: -2rem;
    color: #6b945d;

}
span:nth-child(2) {
    color: #801b3a;
}
span:nth-child(2) {
    color: #801b3a;
}
h1 span {
    mix-blend-mode: screen;
}