body{
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    width: 90%;
    margin: 0 auto;
}
.grid{
    width: 80%;
    background-color: rgb(220, 236, 236);
}
form{
    width: 90%;
    margin-left: 50px;
}
input{
    margin: 10px;
}